.budget-core-content{
  background-image: url("../Images/Wood_backgroiund_image.png");
  color: white;
  opacity: 0.9;
  border-radius: 20px;
  padding: 1% 3%;
  text-shadow: 2px 2px 5px #6E260E;
}

.row{
  margin: 2%;
}

h2{
    font-size: 2.4rem;
}

#Budget-core{
    margin: 3% 17%;
    text-align: center;
}





/* budget butons */


.Budget-Buttons-income{
  size:100%;
  padding: 8%;
  border-color: #00ab66;
  border-width: 10px;
  color: White;
  background-color: #00ab66;
  border-radius: 5%;
  border-style: solid;
  box-shadow: 2px 2px 5px #6E260E;
  width: 70%;
}

.Budget-Buttons-income:hover{
  background-color: 		#F28C28;
  border-color: 		#F28C28;
  box-shadow: 0px 0px 10px 2px 	#F28C28;
  transition: 0.4s;
  text-shadow: 1px 1px 1px;
}

.Budget-Buttons-expence{
  size:100%;
  padding: 8%;
  border-color: #C41E3A;
  color: White;
  background-color: #C41E3A;
  border-radius: 5%;
  border-width: 10px;
  border-style: solid;
    width: 70%;
}

.Budget-Buttons-expence:hover{
  background-color: 		#880808;
  border-color: 		#880808;
  box-shadow: 0px 0px 8px 1px #880808;
  transition: 0.4s;
}





/* textbox */

.input-income-text, .input-expence-text{
  padding: 1%;
  border-radius: 10px;
  border:none;
  box-shadow: 2px 2px 5px #6E260E;

  width: 70%;
  height: 75%;
  background-color:	#FF8C00;
  opacity: 0.9;
  color: black;
  font-size: 32px;
}




/* collapse boxes */

#Income-collapse, #Expence-collapse{
  background-color: #CD853F;
  opacity: 0.8;
  padding: 2%;
  border-radius: 30px;
}

/* radio boxes */

.checkbox-des{
  background-color: #FF8C00;
  border-radius: 15px;
  padding: 5%;
  padding-top: 8%;
  width: 100%;
  font-size: 30px;
}
.checkbox-des:hover{
  box-shadow: 0px 0px 8px 4px  #E26310;
  background-color: #E26310;
}
.radio-label{
  font-size: 30px;
}

/* hide radio button */
.isHidden {
  display: none;
}

/* checking radio */
.radio:checked + .checkbox-des{
  background-color: #E26310;
}

/* small row margin for radio buttons */
.row-sm-margin{
  margin: 1%;
}




/* progress bar */
.progress{
  margin: auto 5% auto;
  height: 30px;
  border-radius: 20px;
}
.progress-green-color{
    background-color: 	#0BDA51;
}

/* bar circle styling */
.inc-ratio-circle{
  color: 	#0BDA51;
}
.exp-ratio-circle{
  color: 	#ff4444;
}



/* publish buttons */
.Budget-Buttons-publish{
  size:40%;
  padding: 1%;
  border-color: #00ab66;
  border-width: 10px;
  color: White;
  background-color: #00ab66;
  border-radius: 5%;
  border-style: solid;
  box-shadow: 2px 2px 5px #6E260E;
  width: 40%;
}



/* tables */

table{
  background-color: #D2042D;
  width: 95%;
  border-radius: 10px;
  font-size: 30px;
  margin: 0 auto;
}

td{
  font-size: 20px;
}

th{
    font-size: 25px;
}


/* history tab */
.History{
  background-color: 	#FFA500;
  opacity: 0.8;
  border-radius: 20px;
  width: 107%;
}

.scroll{
  height: 200px;
}




#Err_Msg{
  color: #EB212E;
  font-size: 45px;
  text-shadow:  2px 2px 4px white;
}





@media (max-width: 992px){

            #Budget-core{
                margin: 3% 2%;
                text-align: center;
            }

            .Budget-Buttons-income{
              padding: 6%;
              margin: 2% 0;
            }

            .Budget-Buttons-expence{
              padding: 6%;
              margin: 2% 0;
            }

            .checkbox-des{
                padding: 1%;
                margin: 3% auto;
            }

}

@media (max-width: 1400px) and (min-width: 992px){


          #Budget-core{
              margin: 3% 2%;
              text-align: center;
          }

          .Budget-Buttons-income{
            padding: 6%;
            margin: 2% 0;
          }

          .Budget-Buttons-expence{
            padding: 6%;
            margin: 2% 0;
          }


}

@media (max-width: 1700px) and (min-width:1400px){


          #Budget-core{
              margin: 3% 15%;
              text-align: center;
          }
}
